# Локальная разработка
DATABASE_URL="postgresql://dolinaznaniy:dolinaznaniy@localhost:5432/dolinaznaniy?schema=public"

# Next.js
NEXT_PUBLIC_APP_URL="http://localhost:3000"
AUTH_SECRET="change-me-local-dev-secret-min-32-chars"

# Production (на сервере в /opt/dolinaznaniy/.env)
# DATABASE_URL="postgresql://dolinaznaniy:STRONG_PASSWORD@db:5432/dolinaznaniy?schema=public"
# NEXT_PUBLIC_APP_URL="http://111.88.118.35"
# POSTGRES_PASSWORD=STRONG_PASSWORD
